<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instapp</title>
</head>
<body>
    <h1>Insta app</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, nobis saepe maxime et accusantium voluptates dolorem debitis deleniti repudiandae quas, totam molestiae natus possimus non ullam numquam cum, nulla temporibus.</p>
</body>
</html>